In [40]:
import requests
from bs4 import BeautifulSoup

# Book Scraping from Home Page :

In [41]:
link="https://books.toscrape.com"

In [42]:
res=requests.get(link)

In [43]:
soup=BeautifulSoup(res.text,'html.parser')

In [44]:
for sp in soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'):
    print("--"*40)
    link=sp.find_all('a')[-1].get('href')
    title=sp.find_all('a')[-1].get('title')
    imgsrc=sp.find('img').get('src')
    rating=sp.find('p').get('class')[1]
    print(link,"|" , title,"|",imgsrc, "|",rating)
    break

--------------------------------------------------------------------------------
catalogue/a-light-in-the-attic_1000/index.html | A Light in the Attic | media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg | Three

In [45]:
data=[]
for sp in soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'):
    
    booklink="https://books.toscrape.com/"+sp.find_all('a')[-1].get('href')
    title=sp.find_all('a')[-1].get('title')
    imgsrc="https://books.toscrape.com/"+sp.find('img').get('src')
    rating=sp.find('p').get('class')[1]
    price=sp.find('p',class_="price_color").text
    stock =sp.find('p',class_='instock availability').text.strip()
    data.append([booklink,title,imgsrc,rating,price,stock])

In [51]:
import pandas as pd 
df=pd.DataFrame(data,columns=["booklink","title","imglink","rating","price","stock"])
df.to_csv('bookscrap1.csv')

# From Multiple Pages:

In [80]:
import pandas as pd
df=pd.read_csv('bookscrap1.csv')
df.head()
print(df['booklink'][0])

https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html

In [57]:
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm

In [83]:
d=[]
for i in tqdm(range(1,51)):
    link='https://books.toscrape.com/catalogue/page-'+str(i)+'.html'
    res=requests.get(link)
    soup=BeautifulSoup(res.text,'html.parser')
    for sp in soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'):
        booklink="https://books.toscrape.com/catalogue/"+sp.find_all('a')[-1].get('href')
        title=sp.find_all('a')[-1].get('title')
        imgsrc="https://books.toscrape.com/"+sp.find('img').get('src')
        rating=sp.find('p').get('class')[1]
        price=sp.find('p',class_="price_color").text
        stock =sp.find('p',class_='instock availability').text.strip()
        d.append([booklink,title,imgsrc,rating,price,stock])

100%|██████████| 50/50 [01:19<00:00,  1.58s/it]

In [90]:
len(d)
d[999]

['https://books.toscrape.com/catalogue/1000-places-to-see-before-you-die_1/index.html',
 '1,000 Places to See Before You Die',
 'https://books.toscrape.com/../media/cache/d7/0f/d70f7edd92705c45a82118c3ff6c299d.jpg',
 'Five',
 'Â£26.08',
 'In stock']

In [187]:
data=pd.DataFrame(d,columns=['booklink', 'title', 'imglink', 'rating', 'price','stock'])

In [188]:
data.tail()

,booklink,title,imglink,rating,price,stock
995,https://books.toscrape.com/catalogue/alice-in-...,Alice in Wonderland (Alice's Adventures in Won...,https://books.toscrape.com/../media/cache/96/e...,One,Â£55.53,In stock
996,https://books.toscrape.com/catalogue/ajin-demi...,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",https://books.toscrape.com/../media/cache/09/7...,Four,Â£57.06,In stock
997,https://books.toscrape.com/catalogue/a-spys-de...,A Spy's Devotion (The Regency Spies of London #1),https://books.toscrape.com/../media/cache/1b/5...,Five,Â£16.97,In stock
998,https://books.toscrape.com/catalogue/1st-to-di...,1st to Die (Women's Murder Club #1),https://books.toscrape.com/../media/cache/2b/4...,One,Â£53.98,In stock
999,https://books.toscrape.com/catalogue/1000-plac...,"1,000 Places to See Before You Die",https://books.toscrape.com/../media/cache/d7/0...,Five,Â£26.08,In stock

In [191]:
data.to_csv('bookscrapper2.csv',index=False)

# Book Individual Scrapper :

In [199]:
data=pd.read_csv('bookscrapper2.csv')

data.head()

,Unnamed: 0,booklink,title,imglink,rating,price,stock
0,0,https://books.toscrape.com/catalogue/a-light-i...,A Light in the Attic,https://books.toscrape.com/../media/cache/2c/d...,Three,Â£51.77,In stock
1,1,https://books.toscrape.com/catalogue/tipping-t...,Tipping the Velvet,https://books.toscrape.com/../media/cache/26/0...,One,Â£53.74,In stock
2,2,https://books.toscrape.com/catalogue/soumissio...,Soumission,https://books.toscrape.com/../media/cache/3e/e...,One,Â£50.10,In stock
3,3,https://books.toscrape.com/catalogue/sharp-obj...,Sharp Objects,https://books.toscrape.com/../media/cache/32/5...,Four,Â£47.82,In stock
4,4,https://books.toscrape.com/catalogue/sapiens-a...,Sapiens: A Brief History of Humankind,https://books.toscrape.com/../media/cache/be/a...,Five,Â£54.23,In stock

In [ ]:
newlist=[]
for link in tqdm(data['booklink']):
    res=requests.get(link)
    soup=BeautifulSoup(res.text,'html.parser')
    
    typ=soup.find('ul',class_='breadcrumb').find_all('a')[2].text
    temp=soup.find('table',class_='table table-striped').find_all('td')
    upc=temp[0].text
    price_x=temp[2].text[2:]
    price_i=temp[3].text[2:]
    tax=temp[4].text[2:]
    quantity=temp[5].text
    reviews=temp[6].text
    newlist.append([typ,price_x,price_i,upc,tax,quantity,reviews])
    break

In [202]:
dataframe=pd.DataFrame(newlist,columns=['typ','price_x','price_i','upc','tax','quantity','reviews'])
dataframe.to_csv('bookscrapper individual page.csv')